.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin-left: 70px;
  margin-top: 2vh;
  width: 80vw;
}
.product {
  width: 220px;
  height: 270px;
  position: relative;
}
.imageContainer {
  width: 200px;
  height: 180px;
  background-color: #d4e5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.details {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 10px;
}
.cartdiv {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 35%;
  right: 10%;
  box-shadow: 0px 0px 7px 0px #00000040;
}
