.navbar {
  width: 100vw;
  height: 7vh;
  background: #2e0052;
  display: flex;
  color: #ffff;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.logout {
  cursor: pointer;
  margin-right: 20px;
}
.mobile {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.login {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
